.I1{
    height: 150px;
    width: 150px;
    
}
h1 {
    background-color: #C4C4C4;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
section{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-family: 'Helvetica', sans-serif;
}
.I2{
    height: 100px;
    width: 100px;
}